{% macro before_service(running_config, action_config, services_config, index) %}
{%- endmacro %}

{% macro after_service(running_config, action_config, services_config, index) %}
{%- endmacro %}

{% macro service_volumes(running_config, action_config, services_config, index) %}
{%- endmacro %}

{% macro service_labels(running_config, action_config, services_config, index) %}
        - Label 1
{%- endmacro %}

{% macro service_networks(running_config, action_config, services_config, index) %}
{%- endmacro %}

{% macro add_networks(running_config, action_config, services_config, index) %}
{%- endmacro %}

{% macro add_volumes(running_config, action_config, services_config, index) %}
{%- endmacro %}

{% macro begining_file(running_config, action_config, services_config, index) %}
{%- endmacro %}

{% macro end_file(running_config, action_config, services_config, index) %}
{%- endmacro %}
