---
layout: doc
---

<article class="docs-article" id="section-1">
    <section class="docs-section" id="item-1-1">

        <header class="docs-header">
            <h1 class="docs-heading">Installation</h1>
            <section class="docs-intro">
                <p>Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit. Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
            </section><!--//docs-intro-->
        </header>
        {{ content }}

    </section><!--//section-->

</article>
